//- *****************************************************************************
//- *                                                                           *
//- *    SwirlVPN is free software: you can redistribute it and/or modify       *
//- *    it under the terms of the GNU General Public License as published by   *
//- *    the Free Software Foundation, either version 3 of the License, or      *
//- *    (at your option) any later version.                                    *
//- *                                                                           *
//- *    SwirlVPN is distributed in the hope that it will be useful,            *
//- *    but WITHOUT ANY WARRANTY; without even the implied warranty of         *
//- *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          *
//- *    GNU General Public License for more details.                           *
//- *                                                                           *
//- *    You should have received a copy of the GNU General Public License      *
//- *    along with SwirlVPN.  If not, see <http://www.gnu.org/licenses/>.      *
//- *                                                                           *
//- *****************************************************************************

extends layout

block content
  .jumbotron
    .container
      h1.col-md-10.col-md-offset-1 Swirl VPN Privacy Policy

  .container
    .row
      .col-md-12
        .well
         h2 Introduction
         p  
           | Your privacy is important to Swirl VPN.  This privacy statement provides information about the personal
           | information that Swirl VPN collects, and the ways in which Swirl VPN uses that personal information.
           | Swirl VPN distinguishes two types of collection requirements:
           ul
             li website - this describes the <a href='http://www.swirlvpn.com'>swirlvpn.com</a> website; and
             li VPN service - this describes the VPN service provided by Swirl VPN.

         h2 Website based policies:

         h3 Personal information collection
         p Swirl VPN may collect and use the following kinds of personal information on the Swirl VPN website:
         ul
           li
             p information about your use of this website (including usage habits to optimize the website for you and others);
           li
             p information that you provide using for the purpose of registering with the website (including email and password);
           li
             p information about transactions carried out over this website (including purchasing of services confirmations);
           li
             p information that you provide for the purpose of subscribing to the website services (including email and password); and
           li
             p any other information that you send to Swirl VPN.

         h3 Password policy
         p Swirl VPN ensures your email and password are secret.  We encrypt all passwords using secure methods.

         h3 Using personal information
         p Swirl VPN may use your personal information to:
         ul
           li
             p administer this website;
           li
             p personalize the website for you;
           li
             p enable your access to and use of the website services;
           li
             p supply to you VPN services that you purchase;
           li
             p send to you statements and invoices;
           li
             p collect payments from you; and
           li
             p send you marketing communications.

         h2 VPN service:
         h3 Personal information collection
         p To be able to provide Swirl VPN service we may collect and use the following kinds of personal information:
         ul
           li
             p information about your use of the VPN service (including usage habits); and
           li
             p information about connections to the VPN Service (including IP address).

         h3 Using personal information
         p Swirl VPN may use your personal information to:
         ul
           li
             p optimise the VPN service for you;
           li
             p ensure you are able to connect to the VPN service; and
           li
             p change the VPN service behaviour based on your preferences.

         h2 General
         p
           | Where Swirl VPN discloses your personal information to its agents or sub-contractors for these purposes,
           | the agent or sub-contractor in question will be obligated to use that personal information in accordance
           | with the terms of this privacy statement.
         p
           | In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, Swirl VPN
           | may disclose your personal information to the extent that it is required to do so by law, in connection with
           | any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its
           | legal rights.

         h2 Securing your data
         p
           | Swirl VPN will take reasonable technical and organisational precautions to prevent the loss, misuse or
           | alteration of your personal information.
         p Swirl VPN will store all the personal information you provide on its secure servers.
         p Information relating to electronic transactions entered into via this website will be protected by encryption technology.

         h2 Cross-border data transfers
         p
           | Information that Swirl VPN collects may be stored and processed in and transferred between any of the
           | countries in which Swirl VPN operates to enable the use of the information in accordance with this privacy policy.
         p You agree to such cross-border transfers of personal information.

         h2 Updating this statement
         p Swirl VPN may update this privacy policy by posting a new version on this website.
         p You should check this page occasionally to ensure you are familiar with any changes.

         h2 Other websites
         p This website contains links to other websites.  
         p Swirl VPN is not responsible for the privacy policies or practices of any third party.

         h2 Contact Swirl VPN
         p
           | If you have any questions about this privacy policy or Swirl VPN's treatment of your personal information, please complete
           | the contact form on Swirl VPN:
         ul
           li
             a(href='/contact') http://www.swirlvpn.com/contact

         h2 Credit
         p This Privacy Policy was created using a Contractology template available at
         ul
           li
             a(href='http://www.freenetlaw.com/') http://www.freenetlaw.com
