//- *****************************************************************************
//- *                                                                           *
//- *    SwirlVPN is free software: you can redistribute it and/or modify       *
//- *    it under the terms of the GNU General Public License as published by   *
//- *    the Free Software Foundation, either version 3 of the License, or      *
//- *    (at your option) any later version.                                    *
//- *                                                                           *
//- *    SwirlVPN is distributed in the hope that it will be useful,            *
//- *    but WITHOUT ANY WARRANTY; without even the implied warranty of         *
//- *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          *
//- *    GNU General Public License for more details.                           *
//- *                                                                           *
//- *    You should have received a copy of the GNU General Public License      *
//- *    along with SwirlVPN.  If not, see <http://www.gnu.org/licenses/>.      *
//- *                                                                           *
//- *****************************************************************************

extends layout

block content
  .jumbotron
    .container
      h1 Site Map

  .container
    .row
      .col-md-12.well
        h2 Site
        h5(style='margin-left:25px')
          a(href='/') Home

        h2 Account
        h5(style='margin-left:25px')
          a(href='/signup') Sign Up
        h5(style='margin-left:25px')
          a(href='/login') Login
        h5(style='margin-left:25px')
          a(href='/purchase') Purchase / Pricing

        h2 Documentation
        h5(style='margin-left:25px')
          a(href='/features') Features
        h5(style='margin-left:25px')
          a(href='/faq') Frequently Asked Questions
        h5(style='margin-left:25px')
          a(href='/documentation/vpn_for_android') Install Swirl VPN for Android
        h5(style='margin-left:25px')
          a(href='/documentation/vpn_for_iphone') Install Swirl VPN for iPhone
        h5(style='margin-left:25px')
          a(href='/documentation/vpn_for_windows') Install Swirl VPN for Window
        h5(style='margin-left:25px')
          a(href='/documentation/vpn_for_linux') Install Swirl VPN for Linux

        h2 Policies
        h5(style='margin-left:25px')
          a(href='/policies/tos') Terms and Conditions
        h5(style='margin-left:25px')
          a(href='/policies/privacy') Privacy Policy
        h5(style='margin-left:25px')

        h2 Communications
        h5(style='margin-left:25px')
          a(href='/contact') Contact form
        h5(style='margin-left:25px')
          a(href='/about') About Swirl VPN
        br
