//- *****************************************************************************
//- *                                                                           *
//- *    SwirlVPN is free software: you can redistribute it and/or modify       *
//- *    it under the terms of the GNU General Public License as published by   *
//- *    the Free Software Foundation, either version 3 of the License, or      *
//- *    (at your option) any later version.                                    *
//- *                                                                           *
//- *    SwirlVPN is distributed in the hope that it will be useful,            *
//- *    but WITHOUT ANY WARRANTY; without even the implied warranty of         *
//- *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          *
//- *    GNU General Public License for more details.                           *
//- *                                                                           *
//- *    You should have received a copy of the GNU General Public License      *
//- *    along with SwirlVPN.  If not, see <http://www.gnu.org/licenses/>.      *
//- *                                                                           *
//- *****************************************************************************

#get-credentials.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
          button.close(data-dismiss='modal') x
          h3 Retrieve Password
      .modal-body
          form(method="post")#get-credentials-form.well.span5
              p Please enter the email address associated with your account
              input#email-modal-tf(type="text", name='email').span5.required
              button(type="submit")#submit.btn.btn-primary Submit
              button(data-dismiss="modal")#cancel.btn Cancel
              .alert.alert-error.hide
              button(data-dismiss="alert").close
      .modal-footer
